<h1> Listing tasks </h1>
  <ul id="tasks">
    <% @tasks.each do |task| %>
      <li id="task_<%= task.id%>">
        <span class="handle">
          [drag]
        </span>
        <%= task.body %>
      </li>
    <% end %>
  </ul>

<% sortable_element("tasks", :url => sort_tasks_path, :handle => "handle") %>
<%= link_to "New", new_task_path %>
<%= link_to "Back", tasks_path %>
  
