<div id="tasks-place">
  <ul id="tasks-sorting" data-update-url="<%= sort_tasks_url %>">
    <% @tasks.each do |task| %>
      <%= content_tag_for :li, task do %>
        <span class="handle">[drag]</span>
        <%= task.body %>
      <% end %>
    <% end %>
  </ul>
</div>

