/* begin general */
body {
  background-color: white;
  width: 1024px;
  margin: 0 auto;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

pre {
  background-color: #eeeeee;
  padding: 10px;
  font-size: 11px; }

p {
  padding: 5px; }

a {
  color: #d95e16;
  padding: 0 2px;
  text-decoration: none; }
  a:hover {
    background-color: #ff813c;
    color: white; }

.notice {
  color: green; }

.alert {
  color: red; }
.right{
  float:right;}
.left{
  float:left;}
.clear {
  clear:both;}

.handle:hover {
  cursor: move; }

/*end general */
#header {
  font-family: "Myriad Web Pro", Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  border-bottom: 5px solid #333333;
  color: #333333;
  padding: 15px 0;
  height: 40px; }
  #header #user_bar {
    float: right;
    font-size: 12px; }
  #header a{
    float: left;}
@font-face {
    font-family: 'BebasNeueRegular';
    src: url('BebasNeue-webfont.eot');
    src: url('BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('BebasNeue-webfont.woff') format('woff'),
         url('BebasNeue-webfont.ttf') format('truetype'),
         url('BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

#header div.clock {
  float: left;
  margin-left:200px;
  padding:10px;
  color:#fff; }
#header div.clock ul {
  margin: 0 auto;
  padding:0px;
  list-style:none;
  text-align:center; }
#header ul li {
  display:inline;
  font-size:4em;
  text-align:center;
  font-family:'BebasNeueRegular', Arial, Helvetica, sans-serif;
  text-shadow:0 0 4px #d95e16; }
#header #doublePoint {
  position:relative;
  -moz-animation:mymove 1s ease infinite;
  -webkit-animation:mymove 1s ease infinite;
  padding-left:4px;
  padding-right:4px; }

/* Simple Animation */
@-webkit-keyframes mymove
{
0% {opacity:1.0; text-shadow:0 0 4px #d95e16;}
50% {opacity:0; text-shadow:none; }
100% {opacity:1.0; text-shadow:0 0 4px #d95e16; }
}

@-moz-keyframes mymove
{
0% {opacity:1.0; text-shadow:0 0 4px #d95e16;}
50% {opacity:0; text-shadow:none; }
100% {opacity:1.0; text-shadow:0 0 4px #d95e16; }
}

#footer {
  border-top: 5px solid #c1c1c1;
  margin-top: 10px;
  clear: both;
  padding: 10px 0;
  text-align: center;
  font-size: 11px; }

#header h1 {
  padding-top: 14px;
  float: left;
  font-size: 30px; }
  #header h1 a {
    color: black; }
    #header h1 a:hover {
      background-color: white;
      color: black;
      border-bottom: 4px solid #cccccc; }

#main h1 {
  font-size: 18px;
  padding: 10px 0;
  border-bottom: 1px solid #bbbbbb;
  margin-bottom: 10px; }
#main h2 {
  margin: 5px 0 5px 0;
  font-size: 16px; }
#main li {
  list-style-type: none; }
#main div#benefit-list{
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  width:400px;}
#main div.benefit-question, #main div.benefit-answer {
  width: 320px;
  margin:5px;}
#main div.benefit-question {
  color: #696969;
  font-size: 1em;}
#main div.benefit-answer {
  letter-spacing: 1px;
  text-align: center;
  font-size: 1.4em;}
 /* from here */
#main table {
  margin: 0; }
#main form {
  text-align: left; }
  #main form br {
    /* to here look at index, first page */
    display: none;
    float: left; }
  #main form .field, #main form .actions {
    width:60%;
    padding-top: 10px;
    clear: both; }
  #main form label.task-label {
    width: 150px;
    display: block;
    text-align: right;
    padding-right: 10px;
    float: left;
    line-height: 21px;
    background-color: #f0f0f0;
    border: 2px solid #cccccc;
    margin-right: 10px; }
  #main form .field .selectField {
    width: 750px;}
  #main form .one-pair{
    margin-top:8px;
    float:left;}
  #main form .one-pair:first-child{
    margin-left:170px;}
  #main form .radio-width {
    width:104px;}
  #main form .checkbox-width{
    width:64px;}
  #main form .one-pair label{
    margin:4px 2px 4px 10px;}
  #main form .one-pair input{
    margin:0;}
  #main form .radio_button_label {
    width: auto;
    text-align: left;
    line-height: 18px;
    background-color: white;
    border: none;}
  #main form .check_box_label {
    width: auto;
    text-align: right;
    line-height: 18px;
    background-color: white;
    border: none;}
  #main form input[type=text], #main form input[type=password] {
    float: left;
    font-size: 14px;
    width: 220px;
    padding: 2px;
    border: 2px solid #cccccc; }
  #main form input[type=text]#email{
    width: 220px;}
  #main form input[type=checkbox], #main form input[type=radio] {
    margin:5px 5px 4px 4px;
    float: right;
    border: 2px solid #cccccc; }
 #main form input[type=checkbox] {
    margin-left:30%;
    float:none;}
  #main form input[type=text]{
    width:420px;}
  #main form textarea {
    float: left;
    font-size: 14px;
    width: 220px;
    padding: 2px;
    border: 2px solid #cccccc; }
  #main form textarea {
    height: 150px; }
  #main form input[type=submit] {
    margin-left: 175px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px; }
#main h3 {
  padding-top: 5px;
  height: 18px; }
  #main h3 .actions {
    display: none;
    font-weight: normal;
    font-size: 10px; }
  #main h3:hover .actions {
    display: inline; }
#main #tasks a{
  color:#fff;}
#main #tasks a:hover{
  background-color:#fff;
  color:#000;}
#main #tasks li{
  border-radius:10px;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  margin-top:5px;
  width:25%;}
#main #tasks li{
  padding:2px 0 2px 2px;}

#main #tasks .for-halfyear{
  background-color: #69f;
  border: 1px solid #69f;}
#main #tasks .for-month{
  background-color: #70db70;
  border: 1px solid #70db70;}
#main #tasks .for-week{
  background-color: #ffad33;
  border: 1px solid #ffad33;}
#main #tasks .for-today{
  background-color: #888;
  border: 1px solid #888;}
#main #tasks .for-yesterday{
  background-color: #ff1919;
  border: 1px solid #ff1919;}
#main #tasks .no-durations{
  background-color: #000;
  border: 1px dashed #000;}
/*index */
/* new edit form for tasks */
.fieldWithErrors {
  display: table;
  float: left;
  margin: 0;
  width: 100px;
  margin-right: 10px; }

#main form .fieldWithErrors label {
  border: 2px solid red;
  margin-right: 0px; }
#main form .fieldWithErrors input, #main form .fieldWithErrors textarea {
  width: 250px;
  border: 2px solid red; }

#errorExplanation {
  width: 413px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 8px;
  margin-bottom: 10px;
  background-color: #f0f0f0;
  margin: 0; }
  #errorExplanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    background-color: #cc0000;
    color: white; }
  #errorExplanation p {
    color: #333333;
    margin-bottom: 0;
    padding: 5px;
    margin: 2px auto; }
  #errorExplanation ul {
    margin: 12px 6px 6px 12px; }
    #errorExplanation ul li {
      font-size: 12px;
      list-style: square; }

/* end new edit form */
/*tasks index */

/* agile_labors index */
.exec_order {
  width: auto; }
#main table {
  margin: 10px auto; }
  #main table th {
    margin: 5px;
    text-align: center;
    width: 340px; }
  #main table td {
    vertical-align: top;
    margin: 3px; }
  #main table tr td a {
    padding: 2px;
    margin: 5px;
    text-align: justify; }
#main #agile_labors {
  margin: 0 auto;
  width:980px;}
#main #agile_labors #current-block, #main #agile_labors #backlog-block, #main #agile_labors #icebox-block{
  width:320px;}
#main #agile_labors #current-block h2,
#main #agile_labors #backlog-block h2,
#main #agile_labors #icebox-block h2{
  text-align:center;}
#main #agile_labors h3, #main #agile_labor_form h3 {
  padding:1px;}
#main .agile_labor {
  padding: 0 3px;
  margin: 2px 1px; }
/* begin agile_labor form */
#main section#agile_labor_form {
  font-size: 12px;
  width:340px;}
  #main section#agile_labor_form h3 {
    margin: 5px;
    height: 20px; }
#main section#agile_labor_form form {
  text-align: left; }
  #main section#agile_labor_form form label {
    display: block;
    text-align: left;
    padding: 2px 2px 2px 8px;
    font-size: 14px;
    font-variant: small-caps;
    background-color: #f0f0f0;
    margin: 5px 0 5px 0; }
.aglab_field {
  font-size: 12px;
  padding-left: 5px; }
.aglab_label {
  background-color: #f0f0f0;
  display: block;
  font-size: 12px;
  font-variant: small-caps;
  margin: 2px 0;
  padding: 2px 2px 2px 8px;
  text-align: left;}
#main section#agile_labor_form form .field, #main section#agile_labors form .actions {
  padding: 0;}
#main .agile_labor span.actions {
  margin-top: 10px; }
#main section#agile_labor_form form input[type=text], #main section#agile_labor_form form textarea {
  font-size: 14px;
  padding-left: 5px; }
#main section#agile_labor_form form textarea {
  height: 60px; }
#main section#agile_labor_form form input[type=submit],
select#agile_labor_exec_order,
select#agile_labor_labor_type {
  margin-left: 75px; }
.aglab_field + .aglab_field {
  margin-top: 5px; }
.agile_labor:first-child{
  border-bottom: 1px solid #000;}
/* end agile_labor form */
.red{
  border:1px dashed red;}

