
body {
  background-color: #fff;
  width: 1024px;
  margin: 0 auto;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

p {
  padding: 5px;
}

a {
  color:#D95E16;
  padding:0 2px;
  text-decoration:none;
}

a:hover {
  background-color:#FF813C;
  color:#ffffff;
}

.notice { color: green; }
.alert { color: red; }

.handle:hover {
  cursor: move;
}

#header, #main, #footer {

}

#header {
  font-family:"Myriad Web Pro",Helvetica,Arial,sans-serif;
  letter-spacing: 1px;
  border-bottom: 5px solid #333333;
  color:#333333;
  padding: 15px 0;
  height: 35px;
}

#header #user_bar {
  float: right;
  font-size: 10px;
}

#footer {
  border-top: 5px solid #C1C1C1;
  margin-top: 10px;
  clear:both;
  padding: 10px 0;
  text-align: center;
  font-size: 11px;
}

#header h1 {
  padding-top: 14px;
  float: left;
  font-size: 30px;
}

#header h1 a{
  color: black;
}

#header h1 a:hover {
  background-color: white;
  color: black;
  border-bottom: 4px solid #ccc;
}

#main h1 {
  font-size: 16px;
  padding: 10px 0;
  border-bottom: 1px solid #bbb;
  margin-bottom: 10px;
}

#main li {
  list-style-type: none;
}
#main table{ /* from here*/
  margin: 0;
}

#main form{
  text-align: left;
}

#main form br{ /* to here look at index, first page */
  display: none;
  float: left;
}

#main form label {
  width: 150px;
  display: block;
  text-align: right;
  padding-right: 10px;
  float: left;
  line-height: 21px;
  background-color: #F0F0F0;
  border: 2px solid #ccc;
  margin-right: 10px;
}
/*index*/
#main div.white_square, #main  div.orange_square, #main div.black_square {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
#main  div.orange_square, #main div.black_square {
  width: 150px;
  height: 150px;
  margin: 10px;
}

#main form .field .selectField {
  width: 220px;
  display: table;
  padding: 10px 10px 10px 0px;
  float: left;
  margin: 10px;
}

#main form .check_box_label {
  width: auto;
  text-align: right;
  padding-top: 20px;
  vertical-align: center;
  line-height: 20px;
  padding-right: 10px;
  background-color: #000;
  border: 2px solid #fbf52a;
  border: none;
}
#main form  .radio_button_label {
  width: auto;
  text-align: left;
  padding-right: 10px;
  line-height: 21px;
  vertical-align: center;
  background-color: #000;
  border: 2px solid #fbf52a;
  border: none;
  margin: 10px;
}

#main form .field, #main form .actions {
  padding-top: 10px;
  clear: both;
}

#main form input[type=text], #main form input[type=password], #main form textarea {
  float: left;
  font-size: 14px;
  width: 250px;
  padding: 2px;
  border: 2px solid #ccc;
}

#main form input[type=checkbox], #main form input[type=radio] {
  margin: 4px;
  padding-top: 50px;
  float: right;
  border: 2px solid #ccc;
}

#main form textarea {
  height: 150px;
}

#main form input[type=submit] {
  margin-left: 175px;
  float:left;
  margin-right: 10px;
  margin-bottom: 10px;
}

#main h3 {
  padding-top: 10px;
  height: 20px;
}

#main h3 .actions{
  display:none;
  font-weight: normal;
  font-size: 10px;
}

#main h3:hover .actions{
  display: inline;
}
/*begin _form tasks*/
.fieldWithErrors {
  display:table;
  float:left;
  margin:0;
  width:100px;
  margin-right: 10px;
}

#main form .fieldWithErrors label{
  border: 2px solid red;
  margin-right: 0px;
}

#main form .fieldWithErrors input, #main form .fieldWithErrors textarea{
  width: 250px;
  border: 2px solid red;
}

#errorExplanation {
  width: 413px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 8px;
  margin-bottom: 10px;
  background-color: #f0f0f0;
  margin: 0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
  margin: 2px auto;
}

#errorExplanation ul {
  margin: 12px 6px 6px 12px;
}
#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}
/* end _form */
/*tasks index*/
#main div#switch_buttons {
  height: 150px;
  width: 100px;
  margin: 5px;
  float: right;
  margin-top: 50px;
  padding-top: 100px;
}
#main div#switch_buttons input{
  margin: 5%;
  padding: auto;
  text-align: center;
  }
/* agile_labors index */

/*second part*/
/* form */
#main form.new_agile_labor, form.edit_agile_labor {
  width: 320px;
  text-align: left;
}

#main form br{ /* to here look at index, first page */
  display: none;
  float: left;
}

#main form.new_agile_labor label, #main form.edit_agile_labor label {
  width: 240px;
  display: block;
  text-align: left;
  padding-left: 10px;
  float: left;
  line-height: 21px;
  background-color: #F0F0F0;
  border: 1px solid #ccc;
  margin-bottom: 5px;
}

#main form.new_agile_labor .field, #main form.new_agile_labor .actions {
  padding-top: 5px;
  clear: both;
}

#main form.new_agile_labor .field .selectField, #main form.edit_agile_labor .field .selectField {
  width: 220px;
  display: table;
  padding: 10px 10px 10px 0px;
  float: left;
  margin: 10px;
}

#main form.new_agile_labor input[type=text], #main form.new_agile_labor input[type=password], #main form.new_agile_labor textarea {
  float: left;
  font-size: 12px;
  width: 253px;
  padding: 2px;
  border: 2px solid #ccc;
}
#main form.edit_agile_labor input[type=text], #main form.edit_agile_labor input[type=password], #main form.edit_agile_labor textarea {
  float: left;
  font-size: 12px;
  width: 253px;
  padding: 2px;
  border: 2px solid #ccc;
}

#main form textarea {
  height: 150px;
}

#main form input[type=submit] {
  margin-left: 50px;
  float:left;
  margin-right: 10px;
  margin-bottom: 10px;
}

#main div.agile_labor {
  width: 329px;
  margin: 5px 5px 0 5px;
}
#main div.agile_labor .actions{
  margin: 5px;
  padding: 2px;
}
.exec_order {
  width: auto;
}
#main table {
  margin: 10px auto;
}
#main table th {
  margin: 5px;
  text-align: center;
  width: 260px;
}

#main table td {
  vertical-align:top;
  border: solid 1px #000;
}

#main table tr td a {
  padding: 2px;
  margin: 5px;
  text-align: justify;
}

#main table tr td p {
  padding: 2px;
  margin: 5px;
  text-align: justify;
}

#main table tr td div span {
  text-align: justify;
  width: 260px;
  padding: 20px;
  margin: 15px;
}
