<div id="benefit-list">
  <div class="benefit-question">What is TimeToDo?</div>
  <div class="benefit-answer">TimeToDo is task manager</div>
  <div class="benefit-question">What is TimeToDo for?</div>
  <div class="benefit-answer">TimeToDo is for scheduling and organizing tasks</div>
  <div class="benefit-question">Whom is TimeToDo for?</div>
  <div class="benefit-answer">TimeToDo is for everyone who want to become more efficient and have free time.</div>
</div>
<br />
<% if current_user %>
<%= link_to 'tasks', tasks_path %>
<%= link_to 'agile_labors', agile_labors_path %>
<% end %>

